.next-step-button {
    width: 50%;
    /* border: 1px solid red; */
}

.next-button,
.back-button {
    padding: 15px 70px 15px 70px;
    width: 40%;
    border-radius: 30px;
    outline: none;
    background: rgba(230, 245, 251, 0.27);
    font-size: 1.3em;
    font-weight: 400;
    text-align: center;
    border: none;
    color: white;
    margin-bottom: 40px;
    position: relative;
    cursor: pointer;
    border: 2px solid #E6F5FB;
    margin-left: 20%;
}

.next-step-button img {
    position: absolute;
    top: 13px;
}