.top-game {
    display: flex;
}

.instructions-list {
    width: 40%;
    display: flex;
    height: 50px;

}

.instructions-input {
    width: 100%;
    height: 50px;
    background: #E6F5FB;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
}

.instructions-list button {
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 75px;
}

.reset-btn {
    background-color: #B08989;
}

.submit-btn {
    background-color: #8AB089;
}

.g-config {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    height: 70vh;
    /* border: 1px solid red; */
}

.g-pad {
    width: 25%;
}

.g-position,
.g-commands-container {
    background: rgba(230, 245, 251, 0.27);
    box-shadow: 0px 5px 30px rgba(107, 109, 111, 0.2);
    border-radius: 10px;
    height: 30%;
}

.g-position h3,
.g-commands-container h3 {
    color: white;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: 600;
    font-size: 20px;
}

.g-commands-container h3 span {
    font-size: 0.9;
    font-weight: 200;

}

.coord-content {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.coord-label {
    background: #E6F5FB;
    border-radius: 10px;
    width: 10%;
    height: 80px;
}

.coord-label p,
.coord-label img {
    margin-top: 10px;
    font-weight: 500;
    font-size: 1.2em;
    color: #6B6D6E;
}

.g-commands-container {
    height: 60%;
    margin-top: 10%;
}

.g-commands-arrow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.g-commands-arrow .img-pointer-btn {
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 15px -3px #52555C;
    box-shadow: 5px 5px 15px -3px #52555C;
    border-radius: 10px;
}

.img-clickable {
    cursor: pointer;
}

.room {
    width: 60vw;
    display: grid;
    height: 62vh;
    background-color: rgba(230, 245, 251, 0.27);
    z-index: 0;
    grid-gap: 5px;
    border: 6px solid #E6F5FB;
    padding: 20px;
    border-radius: 20px;
    margin-left: 8%;
}

.room-item {
    width: 100%;
    background-color: #E6F5FB;
    border-radius: 5px;
}


@media screen and (max-width: 1890px) {
    .img-clickable{
        width: 50px;
        height: 50px;
    }
    .g-commands-arrow{
        margin-top: 10px;
    }
}