#h-section {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  height: 70vh;
  text-align: center;
  width: 85%;
  margin: auto;
}


#h-section h3 {
  color: white;
  margin-top: 40px;
  text-align: center;
  font-size: 1.4em;

}

.h-orientation,
.h-position {
  width: 25%;
}

.h-dimension {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.h-orientation,
.h-dimension,
.h-position {
  border-radius: 15px;
  background-color: #B2C9D6;
}

.h-orientation {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  padding-left: 30px;
  justify-content: space-between;
}

.h-custom-select {
  margin-bottom: 100px;

  /* border: 1px solid red; */
}

.h-select {
  width: 170px;
  height: 50px;
  appearance: none;
  background: transparent;
  background-image: url("../../assets/icones/arrow_select.svg");
  background-repeat: no-repeat;
  background-position-x: 101%;
  background-position-y: 0px;
  border: none;
  padding-left: 3rem;
  border-radius: 10px;
  background-color: #E6F5FB;
  outline: none;
  font-size: 1.1em;
  color: #6B6D6E;
}

.h-rows {
  margin-bottom: 90px;
}

.h-rows,
.h-columns,
.h-option {
  margin-right: 40px;
  margin-left: 40px;
  padding: 20px;
  border-radius: 10px;
  /* border: 1px solid red; */
  background-color: rgba(230, 245, 251, 0.27);
}

#h-section h4 {
  color: white;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.h-columns-content,
.h-rows-content {
  display: flex;
  /* border: 1px solid red; */
  justify-content: center;
}

input[type="number"] {
  background-color: #E6F5FB;
}

.h-dimension img {
  margin-right: 40px;
}

.h-dimension .h-input {
  /* padding-left: 10px; */
  width: 150px;
  height: 50px;
}

.h-position {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}


.h-position .h-option {
  display: flex;
  /* border: 1px solid red; */
  flex-direction: column;
  margin-bottom: 10%;
  align-items: center;
  position: relative;
}

.h-option input,
.h-dimension .h-input {
  text-align: center;
  font-size: 1.2em;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #6B6D6E;
}

.h-option input {
  width: 119px;
  height: 50px;
  margin-top: 20px;

}

.h-position h4 {
  margin-top: 15px;
}

.h-X,
.h-Y {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #B2C9D6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -25px;
  font-weight: 700;
  font-size: 20px;
  color: #E6F5FB;
  -webkit-box-shadow: 8px 9px 15px -2px #9BAFBA;
  box-shadow: 8px 9px 15px -2px #9BAFBA;
}