.h-logo{
    display: flex;
    padding-left: 0px;
    padding-top: 0px;
    align-items: center;
}
.h-logo h1{
    font-size: 1.4em;
    color: #FFF;
}

.next-step-button{
    text-align: center;
    /* border: 1px solid red; */
}
.next-button{
    padding: 15px 70px 15px 30px;
    border-radius: 30px;
    outline: none;
    background: rgba(230, 245, 251, 0.27);
    font-size: 1.3em;
    font-weight: 400;
    text-align: center;
    border: none;
    color: white;
    margin-bottom: 40px;
    position: relative;
    cursor: pointer;
}
.next-button img{
    position: absolute;
    top: 13px;
    right: 20px;
}

#h-section{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    height: 70vh;
    text-align: center;
}
.h-orientation,.h-position{
    width: 20%;
}
.h-orientation,.h-dimension,.h-position{
    
    background-color: antiquewhite;
    border-radius: 30px;
    background: #B2C9D6;
}
